$erras-blue: #365cb7;
$erras-green: #169742;
$erras-orange: #f07726;
$erras-red: #fc0006;

$erras-blue-alt: hsl(222, 54%, 98%);
$erras-green-alt: hsl(140, 75%, 98%);
$erras-orange-alt: hsl(24, 87%, 98%);
$erras-red-alt: hsl(359, 100%, 98%);

$font-family: Helvetica, sans-serif;
