[Unit]
Description=MOLGENIS EMX2 data platform
After=syslog.target

[Service]
User=molgenis
WorkingDirectory=/usr/local/share/molgenis
ExecStart=/bin/java -Dlog4j.configurationFile=/usr/local/share/molgenis/log4j2.xml -DMOLGENIS_HTTP_PORT=8080 -jar -Xmx1024m -Xms256m /usr/local/share/molgenis/molgenis-emx2.jar
StandardError=append:/var/log/molgenis/error.log
Type=simple
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target

