:root[data-theme="dark"] {
    --backgroud-color-navigation: var(--color-gray-600);
    --background-image-sidebar-gradient: linear-gradient(180deg, var(--color-gray-600) -24.76%, var(--color-gray-600) 86.02%);
    --background-image-base-gradient: linear-gradient(180deg, var(--color-gray-800), var(--color-gray-800) 133.81%);

    --opacity-background-gradient: 0;

    --backgroud-color-button-primary: var(--color-green-500);
    --backgroud-color-button-primary-hover: var(--color-white);
    --backgroud-color-button-secondary: var(--color-gray-700);
    --backgroud-color-button-secondary-hover: var(--color-gray-700);

    --text-color-button-primary: var(--color-gray-800);
    --text-color-button-primary-hover: var(--color-gray-800);
    --text-color-button-secondary: var(--color-green-500);
    --text-color-button-secondary-hover: var(--color-green-200);
    --text-color-button-text: var(--color-green-500);
    --text-color-title: var(--color-white);
    --text-color-title-contrast: var(--color-blue-500);
    --text-color-form-header: var(--color-white);
    --text-color-input-description: var(--color-gray-50);

    --border-color-button-primary: var(--color-green-500);
    --border-color-button-primary-hover: var(--color-white);
    --border-color-button-secondary: var(--color-gray-600);
    --border-color-button-secondary-hover: var(--color-green-200);
}    