:root[data-theme="dark"] {
    --background-image-sidebar-gradient: linear-gradient(180deg, var(--color-gray-600) -24.76%, var(--color-gray-600) 86.02%);
    --background-image-base-gradient: linear-gradient(180deg, var(--color-gray-800), var(--color-gray-800) 133.81%);

    --opacity-background-gradient: 0;

    --backgroud-color-button-primary: var(--color-green-500);
    --backgroud-color-button-primary-hover: var(--color-white);

    --text-color-button-primary: var(--color-gray-800);
    --text-color-button-primary-hover: var(--color-gray-800);
    --text-color-title: var(--color-white);

    --border-color-button-primary: var(--color-green-500);
    --border-color-button-primary-hover: var(--color-white);
}    