:root[data-theme="dark"] {
  --background-color-navigation: var(--color-gray-800);
  --background-image-sidebar-gradient: linear-gradient(
    180deg,
    var(--color-gray-600) -24.76%,
    var(--color-gray-600) 86.02%
  );
  --background-image-base-gradient: linear-gradient(
    180deg,
    var(--color-gray-800),
    var(--color-gray-800) 133.81%
  );

  --background-color-button-tree-node-toggle: var(--color-green-200);

  --color-valid-foreground: var(--color-green-200);
  --color-valid-background: var(--color-green-900);
  --color-disabled-background: var(--color-gray-600);
  --color-invalid-foreground: var(--color-red-200);
  --color-invalid-background: var(--color-red-700);
  --color-neutral-background: var(--color-gray-600);
  --color-neutral-foreground: var(--color-white);

  --opacity-background-gradient: 0;

  --background-color-button-primary: var(--color-green-500);
  --background-color-button-primary-hover: var(--color-white);
  --background-color-button-secondary: var(--color-gray-700);
  --background-color-button-secondary-hover: var(--color-gray-700);
  --background-color-button-outline: var(--color-gray-900);
  --background-color-button-outline-hover: var(--color-gray-900);

  --background-color-form: var(--color-gray-900);
  --background-color-form-legend: var(--color-gray-900);
  --background-color-footer: var(--color-gray-700);
  --background-color-modal: var(--color-gray-900);
  --background-color-modal-footer: var(--color-gray-900);

  --background-color-input: var(--gray-800);
  --background-color-input-focused: var(--color-green-200);
  --background-color-input-checked: var(--color-green-500);
  --background-color-pagination: var(--color-gray-600);
  --background-color-pagination-hover: var(--color-gray-700);
  --background-color-input: var(--color-gray-600);

  --background-color-table: var(--color-gray-700);

  --text-color-link: var(--color-green-500);
  --text-color-button-primary: var(--color-gray-800);
  --text-color-button-primary-hover: var(--color-gray-800);
  --text-color-button-secondary: var(--color-green-500);
  --text-color-button-secondary-hover: var(--color-green-200);
  --text-color-button-outline: var(--color-green-500);
  --text-color-button-outline-hover: var(--color-green-200);
  --text-color-button-text: var(--color-green-500);
  --text-color-button-tree-node-toggle: var(--color-white);
  --text-color-button-tree-node-toggle-hover: var(--color-gray-800);
  --text-color-title: var(--color-white);
  --text-color-breadcrumb: var(--color-green-500);

  --text-color-title-contrast: var(--text-color-title);
  --text-color-table-column-header: var(--color-gray-50);
  --text-color-table-row: var(--color-white);
  --text-color-form-header: var(--color-white);
  --text-color-input-description: var(--color-gray-50);
  --text-color-pagination: var(--color-white);
  --text-color-pagination-button: var(--color-green-500);
  --text-color-pagination-hover: var(--color-green-500);
  --text-color-input: var(--color-white);

  --border-color-button-primary: var(--color-green-500);
  --border-color-button-primary-hover: var(--color-white);
  --border-color-button-secondary: var(--color-gray-600);
  --border-color-button-secondary-hover: var(--color-green-200);
  --border-color-button-outline: var(--color-gray-200);
  --border-color-button-outline-hover: var(--color-gray-200);

  --border-color-input: var(--color-gray-400);
  --border-color-input-hover: var(--color-green-200);
  --border-color-input-focused: var(--color-green-200);

  --border-radius-pagination: 3px;

  --border-color-form-required: var(--color-gray-300);
  --border-width-form-required: 1px;
  --background-color-form-required: var(--color-gray-900);
  --background-color-form-required-btn: var(--color-gray-900);
  --background-color-form-required-btn-hover: var(--color-gray-300);
}
