:root[data-theme="molgenis"] {
    --box-shadow-primary: 0px 10px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-search-input: none;
    --box-shadow-pagination-gray: 0px 10px 20px rgba(0, 0, 0, 0.1);

    --background-image-sidebar-gradient: linear-gradient(180deg, #0164C7 0%, rgba(1, 100, 199, 0) 86.02%);
    --background-image-base-gradient: linear-gradient(180deg, #017FFD 0%, #0163C6 133.81%);

    --opacity-background-gradient: 100;

    --background-color-button-primary: var(--color-yellow-500);
    --background-color-button-primary-hover: var(--color-yellow-200);
    --background-color-button-secondary: var(--color-blue-800);
    --background-color-button-secondary-hover: var(--color-blue-300);
    --background-color-button-tertiary: var(--color-blue-500);
    --background-color-button-tertiary-hover: var(--color-blue-300);
    --background-color-button-outline: var(--color-white);
    --background-color-button-outline-hover: var(--color-blue-50);
    --background-color-button-disabled: var(--color-gray-100);
    --background-color-button-disabled-hover: var(--color-gray-100);
    --background-color-search-button: var(--color-blue-50);
    --background-color-search-button-hover: var(--color-blue-700);
    --background-color-navigation: rgba(0, 0, 0, .2);
    --background-color-navigation-sticky: var(--color-blue-800);
    --background-color-search-results-view-tabs: var(--color-blue-800);
    --background-color-search-filter-group-toggle: var(--color-blue-800);
    --background-color-app-wrapper: var(--color-black);
    --background-color-pagination: var(--color-blue-800);
    --background-color-pagination-hover: var(--color-blue-900);
    --background-color-footer: var(--color-blue-800);
    --background-color-modal-footer: var(--color-blue-800);
    --background-color-tab: var(--color-blue-50);
    --background-color-tab-hover: var(--color-blue-500);
    --background-color-tab-active: var(--color-blue-500);
    --background-color-disabled: var(--color-gray-200);
    --background-color-invalid: var(--color-red-200);
    --background-color-input: var(--color-white);
    --background-color-input-checked: var(--color-yellow-500);
    --background-color-input-focused: var(--color-yellow-500);
    --background-color-table: var(--color-white);


    --text-color-button-primary: var(--color-gray-900);
    --text-color-button-primary-hover: var(--color-gray-900);
    --text-color-button-secondary: var(--color-white);
    --text-color-button-secondary-hover: var(--color-white);
    --text-color-button-tertiary: var(--color-white);
    --text-color-button-tertiary-hover: var(--color-white);
    --text-color-button-outline: var(--color-blue-500);
    --text-color-button-outline-hover: var(--color-blue-700);
    --text-color-button-disabled: var(--color-gray-600);
    --text-color-button-disabled-hover: var(--color-gray-600);
    --text-color-button-text: var(--color-white);
    --text-color-button-tree-node-toggle: var(--color-white);
    --text-color-menu: var(--color-white);
    --text-color-sub-menu: var(--color-blue-500);
    --text-color-sub-menu-hover: var(--color-blue-700);
    --text-color-breadcrumb-arrow: var(--color-white);
    --text-color-breadcrumb: var(--color-blue-50);
    --text-color-title: var(--color-white);
    --text-color-title-contrast: var(--color-blue-500);
    --text-color-input-description: var(--color-white);
    --text-color-sub-title-contrast: var(--color-black);
    --text-color-form-header: var(--color-white);
    --text-color-search-button: var(--color-blue-500);
    --text-color-search-button-hover: var(--color-blue-800);
    --text-color-favorite: var(--color-white);
    --text-color-favorite-hover: var(--color-white);
    --text-color-search-button: var(--color-blue-500);
    --text-color-search-button-hover: var(--color-blue-800);
    --text-color-search-results-view-tabs: var(--color-blue-500);
    --text-color-search-results-view-tabs-hover: var(--color-blue-800);
    --text-color-search-filter-title: var(--color-white);
    --text-color-search-filter-expand: var(--color-yellow-500);
    --text-color-search-filter-expand-mobile: var(--color-blue-800);
    --text-color-search-filter-group-title: var(--color-white);
    --text-color-search-filter-group-title-mobile: var(--color-black);
    --text-color-search-filter-group-checkbox: var(--color-yellow-500);
    --text-color-search-filter-group-toggle: var(--color-white);
    --text-color-search-filter-title-inverted: var(--color-back);
    --text-color-search-filter-expand-inverted: var(--color-yellow-500);
    --text-color-search-filter-group-title-inverted: var(--color-black);
    --text-color-search-filter-group-checkbox-inverted: var(--color-yellow-500);
    --text-color-search-filter-group-toggle-inverted: var(--color-black);
    --text-color-tooltip-hover-dark: var(--color-blue-500);
    --text-color-tooltip-hover-light: var(--color-white);
    --text-color-pagination: var(--color-white);
    --text-color-pagination-inverted: var(--color-gray-400);
    --text-color-pagination-input: var(--color-blue-800);
    --text-color-pagination-hover: var(--color-white);
    --text-color-link: var(--color-yellow-500);
    --text-color-table-column-header: var(--color-gray-600);
    
    --text-color-invalid: var(--color-red-700);
    --text-color-valid: var(--color-green-900);
    --text-color-disabled: var(--color-gray-400);
    --text-color-required: var(--color-red-500);
    
    --text-content-required: "*";

    --border-color-button-primary: var(--color-yellow-500);
    --border-color-button-primary-hover: var(--color-yellow-200);
    --border-color-button-secondary: var(--color-blue-800);
    --border-color-button-secondary-hover: var(--color-blue-300);
    --border-color-button-tertiary: var(--color-blue-500);
    --border-color-button-tertiary-hover: var(--color-blue-300);
    --border-color-button-outline: var(--color-blue-500);
    --border-color-button-outline-hover: var(--color-blue-700);
    --border-color-button-disabled: var(--color-gray-100);
    --border-color-button-disabled-hover: var(--color-gray-100);
    --border-color-menu-active: var(--color-blue-500);
    --border-color-search-button: var(--color-white);
    --border-color-search-input: var(--color-white);
    --border-color-search-input-mobile: var(--color-gray-100);
    --border-color-pagination: var(--color-transparent);
    --border-color-input-inverted: var(--color-gray-600);

    --border-radius-3px: 3px;
    --border-radius-50px: 50px;
    --border-radius-input: 50px;
    --border-radius-textarea-input: 20px;
    --border-radius-search-input: 9999px;
    --border-radius-search-button: 9999px;
    --border-radius-pagination: 9999px;
    --border-radius-landing: 50px;

    --outline-color-select: var(--color-gray-200);
  }