.app-page,
.app-footer {
  --nestor-green: hsl(177, 63%, 35%);
  --nestor-green-800: hsl(177, 64%, 27%);
  --nestor-green-050: hsl(177, 63%, 90%);
  --nestor-orange: #f2846e;
  --gray-800: #252525;
  --gray-100: #e4e4e4;
  --max-width: 60vw;
  --viz-chart-title-font-size: 1.1rem;

  font-size: 14pt;
  font-family: Helvetica, sans-serif;
}

.app-page .page-header {
  background-color: var(--nestor-green-050);
}

.app-page .page-header .header-content .header-title,
.app-page .page-header .header-content .header-subtitle {
  color: var(--nestor-green);
}

.app-page .page-section .page-section-content h2 {
  margin-bottom: 0.3em;
}

.app-page .page-section .page-section-content ul {
  line-height: 1.5;
}

.app-page .page-section .nestor-logo {
  display: block;
  width: 250px;
  margin: 0 auto;
}

.app-footer .nestor-logo {
  width: 175px;
}

.card-link-group ol li .link-card {
  height: auto;
  border-radius: 0;
}

.card-link-group ol li .link-card .card-background-filter {
  border-radius: 0;
}

.card-link-group ol li .link-card.padding-h-3 {
  padding: 1.75em;
}

.card-link-group ol li .link-card .card-content {
  padding: 1.75em;
}

.card-link-group ol li:nth-child(1) .link-card {
  background-color: var(--nestor-green);
}

.card-link-group ol li:nth-child(2) .link-card .card-background-filter {
  background-color: var(--nestor-green);
  opacity: 0.6;
}

.card-link-group ol li:nth-child(3) .link-card .card-background-filter {
  background-color: var(--nestor-orange);
  opacity: 0.6;
}

.d3-viz.d3-pie .chart-context,
.d3-viz.d3-geo-mercator .chart-context {
  text-align: center;
}

.d3-viz.d3-pie .chart-context .chart-title,
.d3-viz.d3-geo-mercator .chart-context .chart-title {
  font-size: var(--viz-chart-title-font-size);
  padding: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.d3-viz.d3-geo-mercator .d3-viz-legend {
  padding: 0.6em 0.75em;
}

.d3-viz.d3-geo-mercator .d3-viz-legend label {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.d3-viz.d3-column-chart .chart-title {
  font-size: var(--viz-chart-title-font-size);
  padding: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.d3-viz.d3-pie .chart-area .pie-labels .pie-label-text {
  font-size: 0.7rem !important;
}
.d3-viz.d3-pie .chart-legend {
  font-size: 1rem;
}

.d3-viz.d3-table caption {
  font-size: var(--viz-chart-title-font-size);
  padding: 0;
  margin-bottom: 0.5em;
  text-align: center;
}

.d3-viz.d3-table thead th {
  font-size: 0.8rem;
  padding: 0.4em 0.2em;
}

.d3-viz.d3-table tbody td {
  font-size: 0.9rem;
  padding: 0.4em 0.2em;
}

.d3-viz.d3-table.table-row-highlighting tbody tr:hover {
  background-color: var(--nestor-green-050);
}

#registryInstitutionsMap + .d3-viz-legend {
  top: auto;
  bottom: 0;
  box-shadow: 4px -2px 4px 2px hsla(0, 0%, 0%, 0.2);
}

#nestorFooter .links-container {
  background-color: var(--gray-800);
  color: var(--gray-100);
}

#nestorPublicDashboard .dashboard-content,
#nestorPublicDashboard .dashboard-content .dashboard-chart-layout {
  gap: 1em;
}

@media screen and (min-width: 1800px) {
  #nestorPublicDashboard .dashboard-content {
    max-width: 60vw;
  }
}
