.git
**/.gradle
**/node_modules
**/test
**/tests
**/*.test.*
backend/src
docs/
tools/
data/
e2e/
helm-chart/
ci/
ci-build-images/
ci-build-packages/
.circleci/
.plan/
.claude/
.idea/
*.md
!README.md
apps/graphql-playground
apps/pages
apps/schema
apps/settings
apps/updownload
azure-pipelines.yml
renovate.json
pmd_ruleset.xml
*.tpl
