~*
#gradle
.gradle
build/
!gradle-wrapper.jar
out
dist

.DS_Store
.idea
target/
.settings/
.project
.classpath
examplefiles
*.iml
*.ipr
*.iws
*.DS_Store
git.properties
psql_data
*/data/elasticsearch/
/data/elasticsearch/
test-output/
derby.log
.metadata/
.RData
.RHistory
.idea/*
.idea/fileTemplates/*/
!.idea/fileTemplates/
.vscode/*
**/npm-debug.log
**/.factorypath
**/node_modules
**/node
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
release.properties
tls
**/**/bin/

yarn_error.log
.nyc_output
coverage

apps/nuxt3-ssr/assets/css/*.css
!apps/nuxt3-ssr/assets/css/main.css

apps/nuxt3-ssr/utils/fingerprint.js
