~*
#gradle
.gradle
build/
!gradle-wrapper.jar
out
dist
/*.jar

.DS_Store
.idea
target/
.settings/
.project
.classpath
examplefiles
*.iml
*.ipr
*.iws
*.DS_Store
git.properties
psql_data
*/data/elasticsearch/
/data/elasticsearch/
test-output/
derby.log
.metadata/
.RData
.RHistory
.idea/*
.idea/fileTemplates/*/
!.idea/fileTemplates/
**/npm-debug.log
**/.factorypath
**/node_modules
**/node
mvnw
mvnw.cmd
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
release.properties
tls
**/**/bin/
.venv
.vscode/

yarn_error.log
.nyc_output
coverage

apps/catalogue/assets/css/*.css
!apps/catalogue/assets/css/main.css

apps/catalogue/utils/fingerprint.js
/test-results/
/playwright-report/
/playwright/.cache/

#python build
**/version.txt

# python
venv
requirements.txt

#playwright
playwright-report
CHANGELOG.md
e2e/.auth/

# python
__pycache__
venv
requirements.txt
e2e/.auth
e2e/e2e/.auth
e2e/test-results/
apps/tailwind-components/test-results/.last-run.json

# vscode
*.code-workspace
apps/**/test-results/
apps/tailwind-components/playwright/.auth/user.json

.turbo
.claude
.playwright-cli
apps/**/.nuxtrc
data/models/bge-small-en-onnx/config.json
data/models/bge-small-en-onnx/model.onnx
data/models/bge-small-en-onnx/special_tokens_map.json
data/models/bge-small-en-onnx/tokenizer_config.json
data/models/bge-small-en-onnx/tokenizer.json
data/models/bge-small-en-onnx/vocab.txt
data/models/bge-small-en-v1.5-onnx/config_backup.json
data/models/bge-small-en-v1.5-onnx/config.json
data/models/bge-small-en-v1.5-onnx/model_optimized.onnx
data/models/bge-small-en-v1.5-onnx/model.onnx
data/models/bge-small-en-v1.5-onnx/special_tokens_map.json
data/models/bge-small-en-v1.5-onnx/tokenizer_config.json
data/models/bge-small-en-v1.5-onnx/tokenizer.json
data/models/bge-small-en-v1.5-onnx/vocab.txt
