.app-page,
.page-footer {
  font-family: Helvetica, sans-serif;
  position: relative;
}

.dashboard-container {
  background-color: $blue-050;

  $gap: 0.75em;
  .dashboard-content {
    gap: $gap;
    padding: 0;
  }

  .dashboard-chart-layout {
    gap: $gap;
  }

  .dashboard-box {
    .loading-screen {
      width: 100%;
      height: 100%;
      background-color: $blue-green-050;

      .loading-screen-content {
        .loading-message {
          display: none;
        }
      }
    }

    &.chart-overflow {
      padding-top: 0;
      overflow-y: auto;
      max-height: 60%;

      caption {
        margin-top: 1em;
      }

      .d3-table {
        position: relative;
        thead {
          position: sticky;
          top: 0;
          background-color: $gray-000;
          th {
            padding: 0.6em;
          }
        }
      }
    }

    h3,
    .d3-viz .chart-title,
    .d3-progress-meter .chart-title span {
      font-size: 14pt;
      font-weight: 400;
    }

    p {
      margin-bottom: 0;
    }
  }

  .d3-pie {
    .chart-legend {
      .legend-item {
        .text-item {
          .item-label {
            font-size: 0.9rem;
          }
        }
      }
    }

    .chart {
      .chart-area {
        .pie-labels {
          .pie-label-text {
            font-size: 0.5rem;
          }
        }
      }
    }
  }

  .d3-table {
    caption {
      @include setChartTitle;
      text-align: left;
    }
    thead {
      th {
        font-size: 0.8rem;
      }
    }
    tbody {
      td {
        font-size: 0.9rem;
        padding: 0.6em 0.4em;
      }
    }
    &.table-row-highlighting {
      tbody {
        tr {
          &:nth-child(2n) {
            background-color: $blue-050;
          }

          &:hover {
            background-color: hsl(172, 42%, 80%);
          }
        }
      }
    }
  }
}

.filters-form {
  position: sticky;
  top: 0px;
  padding: 0.5em 1em;
  background-color: $blue-050;
  z-index: 2;

  .filters-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;

    .filter-context {
      legend {
        margin: 0;
        font-size: 1.2rem;
      }
    }

    button {
      border: none;
      background: none;
      display: flex;
      justify-items: center;
      align-items: center;
      gap: 0.25em;

      .heroicons {
        $size: 13pt;
        width: $size;
        height: $size;
        margin-top: -3px;
        path {
          stroke: currentColor;
        }
      }
    }

    .filter-buttons {
      display: flex;
      justify-self: flex-start;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.35em;
      flex-grow: 1;
      border: 1px solid $gray-300;
      padding: 0.5em;
      border-radius: 8px;
      box-shadow: inset 0 0 4px 3px $gray-transparent-100;
      background-color: $gray-000;
      min-height: 2.5em;

      .filter-button {
        display: flex;
        justify-items: center;
        align-items: center;
        color: $blue-900;
        background-color: $blue-green-100;
        padding: 0.2em 1em;
        border-radius: 8px;
        font-size: 0.9rem;

        .heroicons {
          path {
            stroke: $blue-900;
          }
        }

        p {
          margin: 0;
          padding: 0;
        }
      }
    }

    .filter-action {
      display: flex;
      gap: 0.5em;

      button {
        padding: 0.4em 0.6em;
        border-radius: 8px;
        font-size: 1.1rem;

        &:hover,
        &:focus {
          filter: brightness(1.3);
        }
      }
    }

    #resetFilters {
      background-color: $gray-000;
    }

    #runQuery {
      background-color: $blue-green-900;
      color: $gray-000;
    }
  }
}
