imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""
adminPassword: admin
image:
  repository: "molgenis/molgenis-emx2"
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

ingress:
  hosts:
     - host: emx2.dev.molgenis.org
  enabled: true
  path: /

postgres:
  image:
    repository: postgres
    tag: 13-alpine
    pullPolicy: IfNotPresent

