MG_DATA_MODEL_VERSION = 4.x

MG_SOURCE_SERVER_URL = https://source.molgeniscloud.org/
MG_SOURCE_SERVER_TOKEN = *****

MG_TARGET_SERVER_URL = https://target.molgeniscloud.org/
MG_TARGET_SERVER_TOKEN = *****

#server type indicates the different types of staging areas on the server
#'data_catalogue' contains cohort, data source and network staging areas
#'cohort_catalogue' contains only cohort staging areas
#'other' only contains (a) catalogue schema(s)
MG_SERVER_TYPE = data_catalogue
MG_CATALOGUE_SCHEMA_NAME = catalogue
MG_ONTOLOGIES_SCHEMA_NAME = CatalogueOntologies
MG_SHARED_STAGING_NAME = SharedStaging
