@import url('./plugins/tailwind.css');
@import url('./plugins/font.css');

@import url('./theme/dark.css');
@import url('./theme/molgenis.css'); 
@import url('./theme/umcg.css');
@import url('./theme/aumc.css');
@import url('./plugins/popper.css');

@layer components {
  :root {
    --color-current: currentColor;
    --color-black: #333;
    --color-white: #fff;
    --color-transparent: transparent;
    --color-blue-50: #E1F0FF;
    --color-blue-100: #ADD6FF;
    --color-blue-200: #8BC5FF;
    --color-blue-300: #53A9FF;
    --color-blue-500: #0173E4;
    --color-blue-700: #015CB6;
    --color-blue-800: #014F9E;
    --color-blue-900: #013F7E;
    --color-gray-50: #F9F9F9;
    --color-gray-100: #F4F4F4;
    --color-gray-200: #E2E2E2;
    --color-gray-400: #C0C0C0;
    --color-gray-600: #2C2C2C;
    --color-gray-700: #414141;
    --color-gray-800: #1E1E1E;
    --color-gray-900: #1D1D1D;
    --color-yellow-200: #FFF4CB;
    --color-yellow-500: #FFF500;
    --color-yellow-800: #C89B00;
    --color-green-200: #C7FFE2;
    --color-green-500: #72F6B2;
    --color-green-800: #349D63;
    --color-green-900: #075F32;
    --color-orange-500: #E1B53E;
    --color-red-200: #FCEDEF;
    --color-red-500: #E14F62;
    --color-red-700: #AE2A3F;
    --color-gradient1: #0062C6;
    --color-gradient2: #0072E4;

    --color-valid-foreground: var(--color-green-900);
    --color-valid-background: var(--color-green-200);
    --color-invalid-foreground: var(--color-red-700);
    --color-invalid-background: var(--color-red-200);
    --color-neutral-background: var(--color-yellow-200);
    --color-disabled-foreground: var(--color-gray-400);
    --color-disabled-background: var(--color-gray-100);
    

    --box-shadow-primary: 0px 10px 20px rgba(0, 0, 0, 0.1);
    --box-shadow-search-input: none;
    --box-shadow-pagination-gray: 0px 10px 20px rgba(0, 0, 0, 0.1);

    --background-image-sidebar-gradient: linear-gradient(180deg, var(--color-gray-50) -24.76%, var(--color-gray-50) 86.02%);
    --background-image-base-gradient: linear-gradient(180deg, #FFFFFF, #FFFFFF 133.81%);

    --opacity-background-gradient: 0;

    --background-color-button-primary: var(--color-blue-500);
    --background-color-button-primary-hover: var(--color-blue-700);
    --background-color-button-secondary: var(--color-white);
    --background-color-button-secondary-hover: var(--color-blue-50);
    --background-color-button-tertiary: var(--color-white);
    --background-color-button-tertiary-hover: var(--color-white);
    --background-color-button-outline: var(--color-white);
    --background-color-button-outline-hover: var(--color-blue-50);
    --background-color-button-disabled: var(--color-gray-100);
    --background-color-button-disabled-hover: var(--color-gray-100);
    --background-color-search-button: var(--color-blue-50);
    --background-color-search-button-hover: var(--color-blue-700);
    --background-color-navigation: var(--color-white);
    --background-color-navigation-sticky: var(--background-color-navigation);
    --background-color-search-results-view-tabs: var(--color-blue-800);
    --background-color-search-filter-group-toggle: var(--color-blue-800);
    --background-color-app-wrapper: var(--color-black);
    --background-color-pagination: var(--color-blue-800);
    --background-color-pagination-hover: var(--color-blue-900);
    --background-color-footer: var(--color-blue-800);
    --background-color-modal-footer: var(--color-blue-800);
    --background-color-tab: var(--color-blue-50);
    --background-color-tab-hover: var(--color-blue-500);
    --background-color-tab-active: var(--color-blue-500);
    
    --background-color-input: var(--color-white);
    --background-color-input-checked: var(--color-blue-500);
    --background-color-listbox: var(--color-white);
    --background-color-listbox-hover: var(--color-gray-100);
    --background-color-listbox-selected: var(--color-blue-500);
    --background-color-table: var(--color-white);
    --background-color-notification: var(--color-red-700);
    --background-color-code-output: var(--color-gray-100);

    --text-color-button-primary: var(--color-white);
    --text-color-button-primary-hover: var(--color-white);
    --text-color-button-secondary: var(--color-blue-500);
    --text-color-button-secondary-hover: var(--color-blue-500);
    --text-color-button-tertiary: var(--color-blue-500);
    --text-color-button-tertiary-hover: var(--color-blue-800);
    --text-color-button-outline: var(--color-blue-500);
    --text-color-button-outline-hover: var(--color-blue-700);
    --text-color-button-disabled: var(--color-gray-600);
    --text-color-button-disabled-hover: var(--color-gray-600);
    --text-color-menu: var(--text-color-title);
    --text-color-sub-menu: var(--color-blue-500);
    --text-color-sub-menu-hover: var(--color-blue-700);
    --text-color-breadcrumb-arrow: var(--color-gray-400);
    --text-color-breadcrumb: var(--color-blue-500);
    --text-color-title: var(--color-blue-800);
    --text-color-title-contrast: var(--color-blue-500);
    --text-color-sub-title-contrast: var(--color-black);
    --text-color-search-button: var(--color-blue-500);
    --text-color-search-button-hover: var(--color-blue-800);
    --text-color-favorite: var(--color-blue-800);
    --text-color-favorite-hover: var(--color-blue-800);
    --text-color-button-text: var(--color-blue-800);
    --text-color-search-button: var(--color-blue-500);
    --text-color-search-button-hover: var(--color-blue-800);
    --text-color-search-results-view-tabs: var(--color-blue-500);
    --text-color-search-results-view-tabs-hover: var(--color-blue-800);
    --text-color-search-filter-title: var(--text-color-title);
    --text-color-search-filter-expand: var(--color-yellow-500);
    --text-color-search-filter-expand-mobile: var(--text-color-title);
    --text-color-search-filter-group-title: var(--text-color-title);
    --text-color-search-filter-group-title-mobile: var(--color-black);
    --text-color-search-filter-group-checkbox: var(--color-yellow-500);
    --text-color-search-filter-group-toggle: var(--text-color-title);
    --text-color-search-filter-title-inverted: var(--color-back);
    --text-color-search-filter-expand-inverted: var(--color-yellow-500);
    --text-color-search-filter-group-title-inverted: var(--color-black);
    --text-color-search-filter-group-checkbox-inverted: var(--color-yellow-500);
    --text-color-search-filter-group-toggle-inverted: var(--color-black);
    --text-color-tooltip-hover-dark: var(--color-blue-500);
    --text-color-tooltip-hover-light: var(--color-blue-800);
    --text-color-pagination: var(--text-color-title);
    --text-color-pagination-inverted: var(--color-gray-400);
    --text-color-pagination-input: var(--text-color-title);
    --text-color-pagination-hover: var(--text-color-title);
    --text-color-footer-link: var(--color-yellow-500);
    --text-color-listbox: var(--color-black);
    --text-color-listbox-hover: var(--color-black);
    --text-color-listbox-selected: var(--color-blue-50);
    --text-color-button-input-toggle: var(--color-black);
    --text-color-table-column-header: var(--color-gray-600);
    --text-color-form-header: var(--color-blue-800);
    --text-color-input-description: var(--color-blue-800);
    --text-color-legend-error-count: var(--color-white);
    
    --text-code-output: var(--color-gray-800);
    --text-content-required: "*";

    --border-color-button-primary: var(--color-blue-500);
    --border-color-button-primary-hover: var(--color-blue-700);
    --border-color-button-secondary: var(--color-white);
    --border-color-button-secondary-hover: var(--color-blue-50);
    --border-color-button-tertiary: var(--color-gray-200);
    --border-color-button-tertiary-hover: var(--color-blue-800);
    --border-color-button-outline: var(--color-blue-500);
    --border-color-button-outline-hover: var(--color-blue-700);
    --border-color-button-disabled: var(--color-gray-100);
    --border-color-button-disabled-hover: var(--color-gray-100);
    --border-color-menu-active: var(--color-blue-500);
    --border-color-search-button: var(--color-white);
    --border-color-search-input: var(--color-white);
    --border-color-search-input-mobile: var(--color-gray-100);
    --border-color-pagination: var(--color-transparent);
    --border-color-input: #C0C0C0;
    --border-color-input-inverted: var(--color-gray-600);
    --border-color-listbox-option: var(--color-gray-100);
    --border-color-listbox: var(--border-color-input);

    --border-radius-3px: 3px;
    --border-radius-50px: 50px;
    --border-radius-input: 3px;
    --border-radius-textarea-input: var(--border-radius-input);
    --border-radius-search-input: 9999px;
    --border-radius-search-button: 9999px;
    --border-radius-pagination: 9999px;
    --border-radius-landing: 50px;

    --outline-color-select: var(--color-gray-200);
  }
}
