# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
orbs:
  slack: circleci/slack@4.4.4
jobs:
  definitions:
    shared_environment: &shared_environment
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    shared_docker_definition: &shared_docker_definition
    - image: molgenis/ci-build:latest
    - image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres

    shared_stesp: &shared_steps
      - checkout

      - run: git fetch --all --tags

      - run: export COMMIT_MESSAGE=$(git log -1 --pretty=format:%s)

      # Download and cache dependencies
      - restore_cache:
          keys:
          - v1-dependencies-{{ checksum "build.gradle" }}
          # fallback to using the latest cache if no exact match is found
          - v1-dependencies-

      - run: ./gradlew dependencies

      - save_cache:
          paths:
          - ~/.gradle
          key: v1-dependencies-{{ checksum "build.gradle" }}

      - run:
          name: Setup git, todo, move to molgenisci user
          command: |
            git config --global --add safe.directory '*'
            git config user.email "m.a.swertz@rug.nl"
            git config user.name "mswertz"
            git config url.https://.insteadOf git://

      - run: apt-get update && apt-get install postgresql-client -y

      - run: psql -h 127.0.0.1 -p 5432 -U postgres < .docker/initdb.sql

      - setup_remote_docker:
          version: 19.03.13
          docker_layer_caching: true

      - run:
          name: Sign in to docker
          command: docker login -u $DOCKER_USER -p $DOCKER_PASS
  
  handlePullRequest:
    docker:
      - *shared_docker_definition

    working_directory: ~/repo
    resource_class: large

    environment:
      - *shared_environment

    steps:
    - *shared_steps

    - run:
        name: build and push emx2 docker images and helm for the preview
        command: |
          echo "PR number: ${CIRCLE_PULL_REQUEST##*/}"
          ./gradlew -s --no-daemon dockerPush helmPublishMainChart ci
          export $( cat build/ci.properties | xargs )

    - run:
        name: push ssr-catalogue docker images
        command: |
            export $( cat build/ci.properties | xargs )
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
            docker push molgenis/ssr-catalogue-snapshot --all-tags
        

    #After migrating to azure code below can be removed
    - run:
        name: deploy preview or update dev to k8s
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config.sh ${KUBE_CLUSTER} ${KUBE_TOKEN}
          bash ci/create_or_update_k8s.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
          

    - run:
        name: deploy preview or update dev to azure
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config-azure.sh
          bash ci/create_or_update_k8s-azure.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
    
    - run:
        name: message slack
        command: |
          export $( cat build/ci.properties | xargs )
          curl -d "token=${SLACK_TOKEN}" \
          -d "text=*<${CIRCLE_PULL_REQUEST}|Circle-CI » Molgenis » Molgenis-emx2 » PR-${CIRCLE_PULL_REQUEST##*/} #${CIRCLE_BUILD_NUM}>*
          PR Preview available on https://preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}.dev.molgenis.net" \
          -d "channel=C02AZDG6QQ7" \
          -X POST https://slack.com/api/chat.postMessage
    - run:
        name: run tests
        command: |

    - run:
        name: Run tests, merge test results using jacoco and push test results to sonar for the branch (or fail)
        command: |
          ./gradlew test jacocoMergedReport sonar -x apps:format -x apps:buildJavaScript  --no-daemon \
          -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
          -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true \
          -Dsonar.pullrequest.key=${CIRCLE_PULL_REQUEST##*/} -Dsonar.pullrequest.branch=${CIRCLE_BRANCH}
      
    - run:
        name: Save test results for stats
        command: |
          mkdir -p ~/test-results/junit/
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
        when: always

    - store_test_results:
        path: ~/test-results

  handleMergeMaster:
    docker:
    - *shared_docker_definition
    working_directory: ~/repo
    resource_class: large

    environment:
    - *shared_environment

    steps:
    - *shared_steps  # Include the common steps

    - run:
        name: Run tests, merge test results using jacoco and push test results to sonar for the branch
        command: |
          ./gradlew test jacocoMergedReport sonar --no-daemon \
          -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
          -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true \

    - run:
        name: release if not snapshot, push release docker, push release python
        command: |
          export $( cat build/ci.properties | xargs )
          if [[ "$TAG_NAME" == *"SNAPSHOT"* ]]; then
            /gradlew -s --no-daemon dockerPush helmPublishMainChart
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
            docker push molgenis/ssr-catalogue-snapshot --all-tags
          else
            /gradlew -s --no-daemon dockerPush helmPublishMainChart release
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue:latest -t molgenis/ssr-catalogue:${TAG_NAME}
            docker push molgenis/ssr-catalogue --all-tags
          fi

    - run: 
        name: update rug server
        command: |
            export $( cat build/ci.properties | xargs )
            bash ci/set_kubectl_config.sh ${KUBE_CLUSTER} ${KUBE_TOKEN}
            bash ci/create_or_update_k8s.sh "emx2" ${TAG_NAME}
            
    - run:
        name: update azure server
        command: |
            export $( cat build/ci.properties | xargs )
            bash ci/set_kubectl_config-azure.sh
            bash ci/create_or_update_k8s-azure.sh "emx2" ${TAG_NAME}
    
    - run:
          name: message slack
          command: |
            export $( cat build/ci.properties | xargs )
            curl -d "token=${SLACK_TOKEN}" \
            -d "text=EMX2 version: ${TAG_NAME} is released. Check it out: https://emx2.dev.molgenis.net" \
            -d "channel=C02AZDG6QQ7" \
            -X POST https://slack.com/api/chat.postMessage          
          

workflows:
  version: 2
  build_and_test_and_preview_or_release:
    jobs:
      - prepare
      - handlePullRequest:
          requires:
            - prepare
          filters:
            branches:
              ignore: master
      - handleMergeMaster:
          requires:
            - prepare
          filters:
            branches:
              only: master
