# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
orbs:
  slack: circleci/slack@4.4.4
jobs:
  prepare:
    docker:
    # specify the version you desire here
    - image: molgenis/ci-build:latest
    working_directory: ~/repo

    steps:
    - checkout
    
    - run: git fetch --all --tags
      
    - run: export COMMIT_MESSAGE=$(git log -1 --pretty=format:%s)

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: ./gradlew dependencies

    - save_cache:
        paths:
        - ~/.gradle
        key: v1-dependencies-{{ checksum "build.gradle" }}

    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true

    - run:
        name: Sign in to docker
        command: docker login -u $DOCKER_USER -p $DOCKER_PASS

    - run:
        name: Setup git, todo, move to molgenisci user
        command: |
          git config --global --add safe.directory '*'
          git config user.email "m.a.swertz@rug.nl"
          git config user.name "mswertz"
          git config url.https://.insteadOf git://
    - persist_to_workspace:
          root: .
          paths:
              - .
    
  build:
    docker:
    - image: molgenis/ci-build:latest

    working_directory: ~/repo
    
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - run:
        name: build jar and compile test classes and export 'ci' config
        command: |
          ./gradlew clean testClasses shadowJar ci
          export $( cat build/ci.properties | xargs )

    - persist_to_workspace:
        root: .
        paths:
            - .
  
  preview:
    docker:
    - image: molgenis/ci-build:latest
    working_directory: ~/repo
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true

    - run:
        name: Sign in to docker
        command: docker login -u $DOCKER_USER -p $DOCKER_PASS

    - run:
        name: push emx2 docker images and helm for the preview
        command: |
          echo "PR number: ${CIRCLE_PULL_REQUEST##*/}"
          ./gradlew -s --no-daemon dockerPush helmPublishMainChart

    - run:
        name: push ssr-catalogue docker images
        command: |
            export $( cat build/ci.properties | xargs )
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
            docker push molgenis/ssr-catalogue-snapshot --all-tags
        

    #After migrating to azure code below can be removed
    - run:
        name: deploy preview or update dev to k8s
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config.sh ${KUBE_CLUSTER} ${KUBE_TOKEN}
          bash ci/create_or_update_k8s.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
          

    - run:
        name: deploy preview or update dev to azure
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config-azure.sh
          bash ci/create_or_update_k8s-azure.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
    
    - run:
        name: message slack
        command: |
          export $( cat build/ci.properties | xargs )
          curl -d "token=${SLACK_TOKEN}" \
          -d "text=*<${CIRCLE_PULL_REQUEST}|Circle-CI » Molgenis » Molgenis-emx2 » PR-${CIRCLE_PULL_REQUEST##*/} #${CIRCLE_BUILD_NUM}>*
          PR Preview available on https://preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}.dev.molgenis.net" \
          -d "channel=C02AZDG6QQ7" \
          -X POST https://slack.com/api/chat.postMessage
          
  test:
    docker:
    - image: molgenis/ci-build:latest
    - image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
    working_directory: ~/repo
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - run: apt-get update && apt-get install postgresql-client -y 

    - run: psql -h 127.0.0.1 -p 5432 -U postgres < .docker/initdb.sql

    - run:
        name: Run tests, merge test results using jacoco and push test results to sonar
        command: |
          ./gradlew test jacocoMergedReport sonar --no-daemon \
          -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
          -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true \
          -Dsonar.pullrequest.key=${CIRCLE_PULL_REQUEST##*/} -Dsonar.pullrequest.branch=${CIRCLE_BRANCH}
      
    - run:
        name: Save test results
        command: |
          mkdir -p ~/test-results/junit/
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
        when: always
    - store_test_results:
        path: ~/test-results

  release:
    docker:
    - image: molgenis/ci-build:latest
    working_directory: ~/repo
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true

    - run:
        name: Sign in to docker
        command: docker login -u $DOCKER_USER -p $DOCKER_PASS

    - run:
        name: release, push release docker, push release python
        command: |
          export $( cat build/ci.properties | xargs )
          ./gradlew -s --no-daemon dockerPush helmPublishMainChart release
          if [[ "$TAG_NAME" == *"SNAPSHOT"* ]]; then
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
            docker push molgenis/ssr-catalogue-snapshot --all-tags
          else
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue:latest -t molgenis/ssr-catalogue:${TAG_NAME}
            docker push molgenis/ssr-catalogue --all-tags
          fi

    - run: 
        name: update rug server
        command: |
            export $( cat build/ci.properties | xargs )
            bash ci/set_kubectl_config.sh ${KUBE_CLUSTER} ${KUBE_TOKEN}
            bash ci/create_or_update_k8s.sh "emx2" ${TAG_NAME}
            
    - run:
        name: update azure server
        command: |
            export $( cat build/ci.properties | xargs )
            bash ci/set_kubectl_config-azure.sh
            bash ci/create_or_update_k8s-azure.sh "emx2" ${TAG_NAME}
    
    - run:
          name: message slack
          command: |
            export $( cat build/ci.properties | xargs )
            curl -d "token=${SLACK_TOKEN}" \
            -d "text=EMX2 version: ${TAG_NAME} is released. Check it out: https://emx2.dev.molgenis.net" \
            -d "channel=C02AZDG6QQ7" \
            -X POST https://slack.com/api/chat.postMessage          
          

workflows:
  version: 2
  build_and_test_and_preview_or_release:
    jobs:
      - prepare
      - build:
          requires:
            - prepare
      - preview:
          requires:
            - build
          filters:
            branches:
              ignore: master
      - test:
          requires:
            - build
      - release:
          requires:
            - test
          filters:
            branches:
              only: master
