# Java Gradle CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-java/ for more details
#
version: 2
orbs:
  slack: circleci/slack@4.4.4
jobs:
  prepare:
    docker:
    # specify the version you desire here
    - image: molgenis/ci-build:latest
    working_directory: ~/repo

    steps:
    - checkout

    - run: git fetch --all --tags

    # Download and cache dependencies
    - restore_cache:
        keys:
        - v1-dependencies-{{ checksum "build.gradle" }}
        # fallback to using the latest cache if no exact match is found
        - v1-dependencies-

    - run: ./gradlew dependencies

    - save_cache:
        paths:
        - ~/.gradle
        key: v1-dependencies-{{ checksum "build.gradle" }}

    # install additional software
    - run:
        name: install docker kubectl and helm
        command: sh ci/install_docker_helm_kubectl.sh

    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true

    - run:
        name: Sign in to docker
        command: docker login -u $DOCKER_USER -p $DOCKER_PASS

    - run:
        name: Setup git, todo, move to molgenisci user
        command: |
          git config --global --add safe.directory '*'
          git config user.email "m.a.swertz@rug.nl"
          git config user.name "mswertz"
          git config url.https://.insteadOf git://
    - persist_to_workspace:
          root: .
          paths:
              - .
    
  build:
    docker:
    - image: molgenis/ci-build:latest
    - image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
    working_directory: ~/repo
    
    # The resource_class feature allows configuring CPU and RAM resources for each job. Different resource classes are available for different executors. https://circleci.com/docs/2.0/configuration-reference/#resourceclass
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - run: ./gradlew clean assemble testClasses -x :apps:testJavaScript
      
    - persist_to_workspace:
        root: .
        paths:
            - .
     
#     - run:
#         name: release, push docker, push python
#         command: |
#           if [ "${CIRCLE_BRANCH}" = "master" ]; then
#             ./gradlew -s jacocoMergedReport --no-daemon shadowJar dockerPush helmPublishMainChart ci sonar release \
#             -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
#             -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true
#           else
#             echo "PR number: ${CIRCLE_PULL_REQUEST##*/}"
#             ./gradlew -s jacocoMergedReport --no-daemon shadowJar dockerPush helmPublishMainChart ci sonar release \
#             -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
#             -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true \
#             -Dsonar.pullrequest.key=${CIRCLE_PULL_REQUEST##*/} -Dsonar.pullrequest.branch=${CIRCLE_BRANCH}
#           fi
#           export $( cat build/ci.properties | xargs )
#           if [[ "$TAG_NAME" == *"SNAPSHOT"* ]]; then
#             docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
#             docker push molgenis/ssr-catalogue-snapshot --all-tags
#           else
#             docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue:latest -t molgenis/ssr-catalogue:${TAG_NAME}
#             docker push molgenis/ssr-catalogue --all-tags
#           fi
#         environment:
#           MOLGENIS_POSTGRES_USER: molgenis
#           MOLGENIS_POSTGRES_PASS: molgenis
#           MOLGENIS_POSTGRES_URI: jdbc:postgresql://localhost/molgenis
  preview:
    docker:
    - image: molgenis/ci-build:latest
    working_directory: ~/repo
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    # install additional software (needs to be removed and used from pref step ( or from docker image))
    - run:
        name: install docker kubectl and helm
        command: sh ci/install_docker_helm_kubectl.sh

    - setup_remote_docker:
        version: 19.03.13
        docker_layer_caching: true

    - run:
        name: Sign in to docker
        command: docker login -u $DOCKER_USER -p $DOCKER_PASS
    # end install additional software

    - run:
        name: push emx2 docker images
        command: |
          echo "PR number: ${CIRCLE_PULL_REQUEST##*/}"
          ./gradlew -s jacocoMergedReport --no-daemon shadowJar dockerPush helmPublishMainChart ci sonar -x test -x :apps:buildJavascript -x :apps:checkFormat :apps:testJavaScript \
          -Dorg.ajoberstar.grgit.auth.username=${GITHUB_TOKEN} -Dorg.ajoberstar.grgit.auth.password \
          -Dsonar.login=${SONAR_TOKEN} -Dsonar.organization=molgenis -Dsonar.host.url=https://sonarcloud.io -Dsonar.verbose=true \
          -Dsonar.pullrequest.key=${CIRCLE_PULL_REQUEST##*/} -Dsonar.pullrequest.branch=${CIRCLE_BRANCH}
          export $( cat build/ci.properties | xargs )

    - run:
        name: push ssr-catalogue docker images
        command: |
            docker build apps/nuxt3-ssr/ -t molgenis/ssr-catalogue-snapshot:latest -t molgenis/ssr-catalogue-snapshot:${TAG_NAME}
            docker push molgenis/ssr-catalogue-snapshot --all-tags
        

    #After migrating to azure code below can be removed
    - run:
        name: deploy preview or update dev to k8s
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config.sh ${KUBE_CLUSTER} ${KUBE_TOKEN}
          if [ "${CIRCLE_BRANCH}" = "master" ]
          then
            bash ci/create_or_update_k8s.sh "emx2" ${TAG_NAME}
          else
            bash ci/create_or_update_k8s.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
          fi

    - run:
        name: deploy preview or update dev to azure
        command: |
          export $( cat build/ci.properties | xargs )
          bash ci/set_kubectl_config-azure.sh
          if [ "${CIRCLE_BRANCH}" = "master" ]
          then
            bash ci/create_or_update_k8s-azure.sh "emx2" ${TAG_NAME}
          else
            bash ci/create_or_update_k8s-azure.sh "preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}" ${TAG_NAME} DELETE
          fi
  test:
    docker:
    - image: molgenis/ci-build:latest
    - image: postgres:15-alpine
      environment:
        POSTGRES_USER: postgres
        POSTGRES_PASSWORD: postgres
        POSTGRES_DB: postgres
    working_directory: ~/repo
    resource_class: large

    environment:
      JVM_OPTS: -Xmx3200m
      GRADLE_OPTS: "-Dorg.gradle.daemon=false -Dorg.gradle.workers.max=2"
      TERM: dumb

    steps:
    - attach_workspace:
        at: ~/repo

    - run: apt-get update && apt-get install postgresql-client -y 

    - run: psql -h 127.0.0.1 -p 5432 -U postgres < .docker/initdb.sql

    - run: ./gradlew test --no-daemon
      
    - run:
        name: Save test results
        command: |
          mkdir -p ~/test-results/junit/
          find . -type f -regex ".*/build/test-results/.*xml" -exec cp {} ~/test-results/junit/ \;
        when: always
    - store_test_results:
        path: ~/test-results


  notifications:
    docker:
      - image: cimg/base:stable
    steps:
      - run:
          name: message slack
          command: |
            export $( cat build/ci.properties | xargs )
            if [ "${CIRCLE_BRANCH}" = "master" ]
            then
              curl -d "token=${SLACK_TOKEN}" \
              -d "text=EMX2 version: ${TAG_NAME} is released. Check it out: https://emx2.dev.molgenis.net" \
              -d "channel=C02AZDG6QQ7" \
              -X POST https://slack.com/api/chat.postMessage          
            else
              curl -d "token=${SLACK_TOKEN}" \
              -d "text=*<${CIRCLE_PULL_REQUEST}|Circle-CI » Molgenis » Molgenis-emx2 » PR-${CIRCLE_PULL_REQUEST##*/} #${CIRCLE_BUILD_NUM}>*
              PR Preview available on https://preview-emx2-pr-${CIRCLE_PULL_REQUEST##*/}.dev.molgenis.net" \
              -d "channel=C02AZDG6QQ7" \
              -X POST https://slack.com/api/chat.postMessage
            fi

workflows:
  version: 2
  build_and_test:
    jobs:
      - prepare
      - build:
          requires:
            - prepare
      - preview:
          requires:
            - build
          filters:
            branches:
              ignore: main
      - test:
          requires:
            - build
      - notifications:
          requires:
            - build
            - test