$ern-cranio-primary: #f3833b;
$ern-cranio-primary-alt: hsl(23, 88%, 83%);

.app-page,
.page-footer {
  font-size: 14pt;
  font-family: Helvetica, sans-serif;

  .page-header {
    &.ern-header {
      background-color: $gray-050;
      height: 21em;
    }
  }
}
