.app-page,
.page-footer {
  font-family: Helvetica, sans-serif;

  .page-header {
    height: 15em;
    
    &.ern-header {
      height: 21em;
      
      .header-content {
        .header-title {
          color: $gray-800;
          font-size: 18pt;
        }
        .header-subtitle {
          color: $gray-900;
        }
      }
      
      .background-image-filter {
        background-color: $ern-cranio-primary-alt;
        opacity: 0.1;
      }
    }
  }
  
  .page-section {
    &.section-bg-light-blue {
      background-color: $blue-050;
    }
    
    &.section-text-center {
      text-align: center;
    }
    
    a {
      &.button-link {
        @include buttonLink(300px);
        margin: 0 auto;
        margin-top: 1em;
      }
    }
  }
} 
.message-box {
  .message-text {
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      margin: 0;
    }
  }
}

.message-box-container {
  max-width: 90%;
  margin: 0 auto;
}

.inputs {
  display: block;
  width: 100%;
  
  &.select {
    background-color: transparent;
    padding: 0.8em 1em;
    border: 1px solid $gray-700;
    box-shadow: inset 0px 0px 2px 2px $gray-100;
  }
}

.quicklink-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;

  .link-card {
    flex-grow: 1;
    background-color: $gray-000;
    color: currentColor;
    border-radius: 12pt;
    text-align: center;
    
    svg {
      display: block;
      margin: 0 auto;
      margin-bottom: 1.5em;
      $size: 26pt;
      height: $size;
      width: $size;
      
      * {
        stroke: $ern-cranio-primary;
      }
    }
    
    h3 {
      font-size: 13pt;
    }

    p {
      margin: 0;
      color: $gray-600;
      font-size: 13pt;
    }
    
    a {
      margin-top: 1em;
      @include buttonLink;
      font-size: 10pt;
    }
  }
}

.provider-dashboard-container {
  font-size: 13pt; 

  .dashboard-content {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: flex-start;
    justify-content: flex-start;
    
    .dashboard-chart-layout {
      margin-bottom: 2em;
    }
    
    .dashboard-box {
      box-sizing: content-box;
      padding: 1.3em;
      
      h3,
      .d3-viz .chart-title,
      .d3-progress-meter .chart-title span {
        font-size: 14pt;
        font-weight: 400;
      }
      
      p {
        margin-bottom: 0;
      }
      
      .d3-progress-meter {
        .chart-title {
          margin: 0;
          span {
            font-size: 14pt;
          }
        }

        .chart {
          margin: 0;
        }
      }
    }
  }
}