# Example .env file.
# Copy this file and rename it to .env before executing the tests.
# Below, supply the server URL on which to test or 'http://localhost:8080/' when testing locally.
# Some tests require admin privileges. Supply the admin username and password in order to run all tests.
MG_SERVER=
MG_USERNAME=
MG_PASSWORD=