TARGET="https://your-server"
DIR_USERNAME=****
DIR_PASSWORD=****
DIRECTORY="name of the BBMRI-ERIC schema"
NN_SCHEMA_PREFIX="National nodes are stored as two letter (country) codes might have a schema prefix"
PID_SERVICE="dummy"
