# Example of a .env file for executing the 'delete_resources.py' and 'publish_resources.py' scripts.
# Create a file called '.env' in this folder and copy the contents of this file to it.

# The MOLGENIS EMX2 server's URL
MG_URL=
# An token created by a user with admin rights on the server
MG_TOKEN=
# (Optional) The resource in the target Resources table to which to add the source's Resource id(s)
MG_TARGET_RESOURCE=
