.app-page,
.app-footer {
  font-size: 13pt;
  font-family: $font-family;
}

.app-page {
  .page-header {
    .background-image-filter {
      opacity: 0.5;
    }
  }

  .page-section {
    .page-section-content {
      h1,
      h2 {
        color: $blue-900;
      }

      h2 {
        margin-bottom: 0.3em;
      }

      ul {
        line-height: 1.5;
      }
    }

    &.bg-gray-050 {
      background-color: $gray-050;
    }

    &.bg-blue-050 {
      background-color: $blue-050;
    }
  }
}

.message-box {
  .message-text {
    padding: 1em;
    p {
      margin-bottom: 0;
    }
  }
}

.genturis-header {
  filter: saturate(90%);
  height: 28em;
}

.genturis-logo {
  display: block;

  &.logo-center {
    margin: 1em auto;
  }

  &.logo-small {
    width: 175px;
  }

  &.logo-medium {
    width: 250px;
  }

  &.logo-large {
    width: 325px;
  }
}

#genturisQuickLinks {
  .nav-item {
    .link-card {
      height: auto;

      .card-content {
        padding: 1.7em;
      }
    }

    &:nth-child(1) {
      .link-card {
        background-color: $blue-700;
      }
    }

    &:nth-child(2) {
      .card-background-filter {
        background-color: $blue-green-800;
        opacity: 0.65;
      }
    }

    &:nth-child(3) {
      .card-background-filter {
        background-color: $blue-800;
        opacity: 0.65;
      }
    }
  }
}

#genturisFooter {
  .links-container {
    background-color: $gray-800;
    color: $gray-100;

    .footer-list-title {
      color: $gray-000;
    }
  }

  .genturis-logo {
    background-color: $gray-000;
    padding: 0.4em;
  }

  .citation-container {
    background-color: $blue-050;
  }
}
