ERIC_VERSION = 1.0
NN_VERSION = 1.0

ERIC_SCHEMA_NAME = ERIC
ONTOLOGIES_SCHEMA_NAME = DirectoryOntologies
NATIONAL_NODES = AT, NL
SERVER_TOKEN = ****
SERVER_URL = https://bbmri-emx2-test.molgeniscloud.org/
