# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# EMX2 spesific
node_modules
.DS_Store
dist
dist-ssr
*.local
showCase
gen-docs
gen
assets/**/*.css
!assets/**/main.css
