apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "emx2.fullname" . }}
  labels:
    app: {{ template "emx2.name" . }}
    chart: {{ template "emx2.chart" . }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "emx2.selectorLabels" . | nindent 6 }}
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        {{- include "emx2.selectorLabels" . | nindent 8 }}
    spec:
      containers:
        - image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          name: {{ .Chart.Name }}
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8080
          env:
            - name: MOLGENIS_ADMIN_PW
              valueFrom:
                secretKeyRef:
                  name: {{ template "emx2.fullname" $ }}
                  key: adminpassword
            - name: MOLGENIS_POSTGRES_USER
              value: molgenis_admin
            - name: MOLGENIS_POSTGRES_PASS
              value: molgenis_admin
            - name: MOLGENIS_POSTGRES_URI
              value: jdbc:postgresql://localhost/molgenisdb
        - image: "{{ .Values.postgres.image.repository }}:{{ .Values.postgres.image.tag }}"
          name: postgres
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          args:
            - -c
            - shared_buffers=256MB
            - -c
            - max_locks_per_transaction=1024
          env:
            - name: POSTGRES_DB
              value: postgres
            - name: POSTGRES_PASSWORD
              value: postgres
            - name: POSTGRES_USER
              value: postgres
          ports:
            - containerPort: 5432
          volumeMounts:
            - name: postgres-pv
              mountPath: /var/lib/postgresql/data
            - name: postgres-initdb
              mountPath: /docker-entrypoint-initdb.d
      volumes:
        - name: postgres-initdb
          configMap:
            name: postgres-initdb-config
        - name: postgres-pv
          persistentVolumeClaim:
            claimName: {{ include "emx2.fullname" . }}-postgres-pv
      restartPolicy: Always
status: {}
