{{- if .Values.ingress.enabled }}
{{- $fullName := include "emx2.fullname" . -}}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ include "emx2.fullname" . }}
  labels:
    app: {{ template "emx2.name" . }}
    chart: {{ template "emx2.chart" . }}
    release: {{ .Release.Name | quote }}
    heritage: {{ .Release.Service | quote }}
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/server-snippet: gzip on
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/use-regex: "true"
spec:
  rules:
  {{- range .Values.ingress.hosts }}
  - host: {{ .host | quote }}
    http:
      paths:
      - path: /.+/ssr-catalogue/
        pathType: Prefix
        backend:
          service:
            name: ssr-catalogue
            port:
              number: 3000
      - path: /_nuxt/
        pathType: Prefix
        backend:
          service:
            name: ssr-catalogue
            port:
              number: 3000
      - path: /_nuxt-styles/
        pathType: Prefix
        backend:
          service:
            name: ssr-catalogue
            port:
              number: 3000
      - path: {{ default "/" .path }}
        pathType: Prefix
        backend:
          service:
            name: {{ $fullName }}
            port:
              number: 8080
  {{- end }}
{{- end }}