.app-page,
.page-footer {
  font-family: Helvetica, sans-serif;

  .page-header {
    height: 15em;

    &.ern-header {
      height: 21em;

      .header-content {
        .header-title {
          color: $gray-800;
          font-size: 18pt;
        }
        .header-subtitle {
          color: $gray-900;
        }
      }

      .background-image-filter {
        background-color: $cranio-primary-alt;
        opacity: 0.1;
      }
    }
  }

  .page-section {
    &.section-bg-light-blue {
      background-color: $blue-050;
    }

    &.section-bg-light-gray {
      background-color: $gray-050;
    }

    &.section-text-center {
      text-align: center;
    }

    a {
      &.button-link {
        @include buttonLink(300px);
        @include textTransform(bold);
        margin: 0 auto;
        margin-top: 1em;
      }
    }
  }
}

.message-box {
  .message-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5em;

    p {
      margin: 0;
    }

    a {
      text-decoration: underline;
    }
  }
}

.message-box-container {
  max-width: 90%;
  margin: 0 auto;
}

.inputs {
  display: block;
  width: 100%;

  &.select {
    background-color: transparent;
    padding: 0.8em 1em;
    border: 1px solid $gray-700;
    box-shadow: inset 0px 0px 2px 2px $gray-100;
  }
}

.provider-dashboard-container {
  font-size: 13pt;
  padding-top: 0;

  .dashboard-content {
    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;
    justify-content: flex-start;

    @media screen and (min-width: 924px) {
      grid-template-columns: 350px 1fr;
    }

    @media screen and (min-width: 816px) {
      grid-template-columns: 350px 1fr;
    }

    .dashboard-chart-layout {
      margin-top: 1em;
      margin-bottom: 2em;
    }

    .dashboard-box {
      box-sizing: content-box;
      padding: 1.3em;

      h3,
      .d3-viz .chart-title,
      .d3-progress-meter .chart-title span {
        font-size: 14pt;
        font-weight: 400;
      }

      p {
        margin-bottom: 0;
      }

      .d3-progress-meter {
        .chart-title {
          margin: 0;
          span {
            font-size: 14pt;
          }
        }

        .chart {
          margin: 0;
        }
      }
      
      .d3-pie {
        &.legend-position-right {
          align-items:center;
        } 
      }
      
      .d3-viz-message {
        flex-grow: 1;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    .dashboard-title {
      span {
        color: $cranio-primary;
      }
    }

    .dashboard-h2 {
      font-size: 16pt;
      font-weight: bold;
      color: $gray-600;
    }

    .dashboard-h3 {
      font-size: 15pt;
      color: $gray-600;
    }
    
    .dashboard-text {
      color: $gray-500;
    }
  }
}
