$cranio-primary: #f3833e;
$cranio-primary-alt: hsl(23, 88%, 83%);

@mixin buttonLink($width: 100%) {
  display: block;
  width: $width;
  padding: 0.6em 0;
  background-color: none;
  text-align: center;
  background-color: $cranio-primary;
  color: $gray-000;
  border-radius: 32pt;
}
