MG_DATA_MODEL_VERSION = '3.0'
MG_SERVER_URL = 'https://data-catalogue-acc.molgeniscloud.org/'
MG_SERVER_USERNAME = 'admin'
MG_SERVER_PASSWORD = *****
MG_CATALOGUE_SCHEMA_NAME = 'catalogue'
MG_ONTOLOGIES_SCHEMA_NAME = 'CatalogueOntologies'
MG_SHARED_STAGING_NAME = 'SharedStaging'
MG_COHORTS = NFBC1966, KANC, PELAGIE
MG_NETWORKS = LifeCycle, LongITools, EXPANSE
