@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Bebas Neue";
    src: url("../fonts/BebasNeue-Regular.woff2");
  }
  
  @font-face {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    src: url("../fonts/IBMPlexSans-Regular.woff2");
  }
  
  @font-face {
    font-family: "IBM Plex Sans";
    font-weight: 700;
    src: url("../fonts/IBMPlexSans-Bold.woff2");
  }
  
  @font-face {
    font-family: "IBM Plex Sans";
    font-weight: 700;
    font-style: italic;
    src: url("../fonts/IBMPlexSans-BoldItalic.woff2");
  }
  
  @font-face {
    font-family: "IBM Plex Sans";
    font-style: italic;
    src: url("../fonts/IBMPlexSans-Italic.woff2");
  }
  
  @layer components {
    [type="checkbox"]:checked {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    }
  
    [type="radio"]:checked {
      background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='%23262626' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
    }
  
    [type="checkbox"],
    [type="radio"] {
      @apply focus:ring-0 focus:ring-offset-0;
    }
  
    [type="checkbox"],
    [type="checkbox"]:checked,
    [type="checkbox"]:checked:hover,
    [type="checkbox"]:checked:focus,
    [type="checkbox"]:indeterminate:hover,
    [type="radio"],
    [type="radio"]:checked,
    [type="radio"]:checked:hover,
    [type="radio"]:checked:focus {
      @apply border-white;
    }
  }
  