.app-page {
  .page-header {
    height: 22em;

    &.header-image-background {
      background-position: 0 20%;
    }
  }
  
  .message-box {
    display: flex;
    align-items: center;
    
    .message-text {
      p {
        margin-bottom: 0;
      }
    }
  }
}
