.height-auto {
  height: auto;
}
.height-xsmall {
  height: 3em;
}

.height-small {
  height: 6em;
}

.height-medium {
  height: 12em;
}

.height-large {
  height: 18em;
}

.height-xlarge {
  height: 26em;
}

.height-xxlarge {
  height: 38em;
}

.height-full {
  min-height: 100vh;
}

.width-small {
  max-width: 618px;
}

.width-medium {
  max-width: 972px;
}

.width-large {
  max-width: 1234px;
}

.width-full {
  max-width: 100vw;
}

.gap-0 {
  gap: 0em;
}
.gap-1 {
  gap: 1em;
}
.gap-2 {
  gap: 2em;
}
.gap-3 {
  gap: 3em;
}
.gap-4 {
  gap: 4em;
}
.gap-5 {
  gap: 5em;
}
