.padding-h-0 {
  padding-left: 0em;
  padding-right: 0em;
}

.padding-h-1 {
  padding-left: 1em;
  padding-right: 1em;
}

.padding-h-2 {
  padding-left: 2em;
  padding-right: 2em;
}

.padding-h-3 {
  padding-left: 3em;
  padding-right: 3em;
}

.padding-h-4 {
  padding-left: 4em;
  padding-right: 4em;
}

.padding-h-5 {
  padding-left: 5em;
  padding-right: 5em;
}


.padding-v-0 {
  padding-top: 0em;
  padding-bottom: 0em;
}

.padding-v-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}    

.padding-v-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.padding-v-3 {
  padding-top: 3em;
  padding-bottom: 3em;
}

.padding-v-4 {
  padding-top: 4em;
  padding-bottom: 4em;
}

.padding-v-5 {
  padding-top: 5em;
  padding-bottom: 5em;
}