
$gray-900: #0A0A0A;
$gray-800: #252525;
$gray-700: #404040;
$gray-600: #5C5C5C;
$gray-500: #777777;
$gray-400: #929292;
$gray-300: #ADADAD;
$gray-200: #C9C9C9;
$gray-100: #E4E4E4;
$gray-050: #f6f6f6;
$gray-000: #FFFFFF;

$blue-green-900: #309BC2;
$blue-green-800: #45A5C8;
$blue-green-700: #5AB0CF;
$blue-green-600: #70BAD5;
$blue-green-500: #85C4DB;
$blue-green-400: #9ACFE2;
$blue-green-300: #AFD9E8;
$blue-green-200: #C5E3EE;
$blue-green-100: #DAEEF5;
$blue-green-050: #EFF8FB;

$blue-900: #163D89;
$blue-800: #2D5095;
$blue-700: #4463A1;
$blue-600: #5B76AC;
$blue-500: #7289B8;
$blue-400: #889DC4;
$blue-300: #9FB0D0;
$blue-200: #B6C3DB;
$blue-100: #CDD6E7;
$blue-050: #E4E9F3;

$red-900: #AE2509;
$red-800: #B73D24;
$red-700: #C05540;
$red-600: #C96E5B;
$red-500: #D28676;
$red-400: #DB9E92;
$red-300: #E4B6AD;
$red-200: #EDCFC8;
$red-100: #F6E7E4;
$red-050: #FFFFFF;

$green-900: #0C4237;
$green-800: #26564C;
$green-700: #3F6A61;
$green-600: #597E77;
$green-500: #73928C;
$green-400: #8CA7A1;
$green-300: #A6BBB6;
$green-200: #C0CFCC;
$green-100: #D9E3E1;
$green-050: #F3F7F6;

$yellow-400: #F5C900;
$yellow-300: #F4D233;
$yellow-200: #F3DA65;
$yellow-100: #F2E398;
$yellow-050: #F1EBCA;

$gray-transparent-900: hsla(0, 0%, 0%, 0.90);
$gray-transparent-800: hsla(0, 0%, 0%, 0.80);
$gray-transparent-700: hsla(0, 0%, 0%, 0.70);
$gray-transparent-600: hsla(0, 0%, 0%, 0.60);
$gray-transparent-500: hsla(0, 0%, 0%, 0.50);
$gray-transparent-400: hsla(0, 0%, 0%, 0.40);
$gray-transparent-300: hsla(0, 0%, 0%, 0.30);
$gray-transparent-200: hsla(0, 0%, 0%, 0.20);
$gray-transparent-100: hsla(0, 0%, 0%, 0.10);
$gray-transparent-050: hsla(0, 0%, 0%, 0.05);

$molgenis-blue-800: hsl(218, 98%, 52%);
$molgenis-blue-050: hsl(218, 98%, 98%);
