
// remove parent container background color
#app > div {
  background-color: transparent;
}

// reset app container padding
#app > div > div > div.container-fluid.p-3 {
  padding: 0;
}

// hide footer
#app > div > div.text-center {
  display: none;
}

// overwrite elements set by parent theme
.app-page {
  
  ::before, ::after {
    box-sizing: content-box;
  }
}

// set visually hidden class to be used throughout the app(s)
.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  margin: -1px;
  white-space: nowrap;
}
