.text-position-x-left {
  text-align: left;
}

.text-position-x-center {
 text-align: center;
}

.text-position-x-right {
  text-align: right;
}

.text-position-y-top {
  align-items: flex-start;
}

.text-position-y-center {
  align-items: center;
}

.text-position-y-bottom {
  align-items: flex-end;
}